@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.keyframes(@name; @arguments) {
  @-moz-keyframes @name { @arguments(); }
  @-webkit-keyframes @name { @arguments(); }
  @keyframes @name { @arguments(); }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

html, body {
  width: 100%;
  min-width: 360px;
  height: 100%;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent url('../images/movie_bg1.jpg') center center no-repeat;
  background-size: cover;
}

.card-holder {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.shelf {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -46px;
  margin: 0 auto;
  height: 71px;
  background: transparent url('../images/board.png') center bottom no-repeat;
  z-index: 1;
  pointer-events: none;
}

.no-choice {
  position: absolute;
  width: 110px;
  left: 0;
  right: 0;
  bottom: -68px;
  background: #00838f;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  display: table;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.4);
  transition: background 0.3s ease;
  &:hover {
    background: #0097a7;
    transition: background 0.3s ease;
  }
}

.card {
  cursor: pointer;
  position: relative;
  bottom: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 20px;
  width: 180px;
  height: 260px;
  perspective: 1000px;
  z-index: 10;
  transition: bottom 0.5s ease;
  .keyframes(card-appear;{
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  });
  .animation(card-appear 1s ease 1);
  &:hover {
    bottom: 30px;
    transition: bottom 0.5s ease;
    &:after {
      box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.7);
      transition: box-shadow 0.5s ease;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.5s ease;
  }
  &.flipped {
    .card-face {
      transform: rotateY(180deg);
    }
    .card-back {
      transform: rotateY(0deg);
    }
  }
  &.disappearing {
    opacity: 0;
    .keyframes(card-disappear;{
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    });
    .animation(card-disappear 0.5s ease 1);
  }
  &-face {
    position: absolute;
    background: #cfcecc;
    width: 100%;
    height: 100%;
    border: 1px gray solid;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    &__corner {
      position: absolute;
      width: 100%;
      height: 100%;
      &.top-right {
        background: transparent url('../images/card-top-right.gif') top right no-repeat;
      }
      &.top-left {
        background: transparent url('../images/card-top-left.gif') top left no-repeat;
      }
      &.bottom-right {
        background: transparent url('../images/card-bottom-right.gif') bottom right no-repeat;
      }
      &.bottom-left {
        background: transparent url('../images/card-bottom-left.gif') bottom left no-repeat;
      }
    }
    &__center {
      position: absolute;
      left: 0;
      right: 0;
      width: 80%;
      height: 100%;
      margin: 0 auto;
      background: transparent url('../images/circle-rays.gif') center center no-repeat;
      background-size: contain;
      .card-type {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .genre-comedy-icon {
        background: transparent url('../images/comedy-icon.gif') center center no-repeat;
        .card-type;
      }
      .genre-drama-icon {
        background: transparent url('../images/drama-icon.gif') center center no-repeat;
        .card-type;
      }
      .genre-action-icon {
        background: transparent url('../images/action-icon.gif') center center no-repeat;
        .card-type;
      }
      .date-old-icon {
        background: transparent url('../images/old-icon.gif') center center no-repeat;
        .card-type;
      }
      .date-new-icon {
        background: transparent url('../images/new-icon.gif') center center no-repeat;
        .card-type;
      }
      .date-fresh-icon {
        background: transparent url('../images/fresh-icon.gif') center center no-repeat;
        .card-type;
      }
      .fame-unknown-icon {
        background: transparent url('../images/unknown-icon.gif') center center no-repeat;
        .card-type;
      }
      .fame-known-icon {
        background: transparent url('../images/known-icon.gif') center center no-repeat;
        .card-type;
      }
      .fame-popular-icon {
        background: transparent url('../images/popular-icon.gif') center center no-repeat;
        .card-type;
      }
    }
    &__title {
      cursor: pointer;
      font-family: 'Pattaya', cursive;
      font-size: 18px;
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 10%;
    }
  }
  &-back {
    position: absolute;
    background: transparent url('../images/nistri.png');
    width: 100%;
    height: 100%;
    border: 1px silver solid;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
  }
}

.movie-card {
  cursor: pointer;
  position: relative;
  bottom: 20px;
  display: inline-block;
  vertical-align: bottom;
  border: 1px silver solid;
  margin: 0 20px;
  width: 180px;
  height: 260px;
  z-index: 10;
  transition: bottom 0.5s ease;
  .movie-title-wo-picture {
    text-align: center;
    padding: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
  }
  &.no-picture {
    background: transparent url('../images/wild_oliva.png');
  }
  &.empty {
    border: 0;
    &:after {
      display: none;
    }
  }
  .keyframes(card-appear;{
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  });
  .animation(card-appear 1s ease 1);
  &:hover {
    bottom: 30px;
    transition: bottom 0.5s ease;
    &:after {
      box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.7);
      transition: box-shadow 0.5s ease;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.5s ease;
  }
  img {
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
}

@media (max-width:680px) {
  .app-container {
    padding: 40px 0;
    height: auto;
    min-height: 100%;
  }
  .card {
    margin: 20px 20px;
    bottom: 0;
    &:after {
      display: none;
    }
  }
  .card-holder {
    height: auto;
    top: 0;
    transform: translateY(0);
  }
  .no-choice {
    position: relative;
    bottom: 0;
  }
  .shelf {
    display: none;
  }
}